$color1: hsl(188, 100%, 36%);
$color2: hsl(45, 99%, 70%);
$color3: hsl(0, 99%, 64%);

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

$gray1: hsl(0, 0%, 33%);
$gray2: hsl(0, 0%, 40%);
$gray3: hsl(0, 0%, 47%);
$gray4: hsl(0, 0%, 53%);
$gray5: hsl(0, 0%, 60%);
$gray6: hsl(0, 0%, 67%);

$base-url: '/assets/';