{% extends "layout/_default.twig" %}
{% set title = seo.title %}

{% block styles %}

{% endblock %}

{% block content %}

    <section class="home-page">
        <div class="container p-3">

            <h1><i class="fa fa-home"></i> Home Page</h1>

            <div class="row pt-3">
                <ul>
                    {% for post in posts %}
                        <li>
                            <b>{{ post.title }}</b>
                            <p>{{ post.description }}</p>
                        </li>
                    {% else %}
                        Post not found.
                    {% endfor %}
                </ul>
            </div>
        </div>

    </section>

{% endblock %}

{% block scripts %}
    <script src="/assets/js/pages/home.min.js"></script>
{% endblock %}