{% extends "layout/_default.twig" %}
{% set title = seo.title %}

{% block styles %}

{% endblock %}

{% block content %}

    <h1>Home Page</h1>

    <ul>
        {% for post in posts %}
            <li>
                <b>{{ post.title }}</b>
                <p>{{ post.description }}</p>
            </li>
        {% else %}
            Post not found.
        {% endfor %}
    </ul>

{% endblock %}

{% block scripts %}
    <script src="/assets/js/pages/home.min.js"></script>
{% endblock %}