<!-- Footer Start -->
<footer class="footer bg-dark">
    <div class="container flex align-items-center p-3">
        <p class="text-white">&copy; 2020 - Gulp Starter Kit</p>
    </div>
</footer>
<!-- Footer End -->